body {
  background-color: #f8f9fa;
}

h2 {
  font-weight: 600;
}

.book-list__user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.book-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.table {
  th {
    font-weight: 600;
  }

  td {
    vertical-align: middle;
  }
}

.books-index {
  &__content {
    // 右側全体
  }

  &__search-area {
    margin-bottom: 1rem;
  }

  &__category-search-input {
    width: 220px;
  }

  &__user-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  &__category-link {
    text-decoration: none;
  }

  &__rating {
    display: inline-block;
  }
}